
@font-face {
    font-family: 'made_soulmazeregular';
    src: url('fonts/made_soulmaze_personal_use-webfont.woff2') format('woff2'),
         url('fonts/made_soulmaze_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root{
    --scel: 1.1;
}
#hey{
    color: rgb(81, 255, 0);
}
#bar{
    background-color: orange;
    height: 50px;
    width: 100%;
    position: relative;
   
}
#about{
    
    
    cursor: pointer;
    border: 1px solid #ff7300;
    background-color: white;
    height: 50px;
    width: 100px;
    color: #ff7300;
    font-family: Verdana,Geneva,sans-serif; 
    font-size: 14px;
   

    
    position:relative;
    transition: .5s ease;
    top: 0px;
    left: 1300px;
    
    
    
}
#about:hover{
    -webkit-transform: scale(var(--scel));/*Grows in size like Angry Birds button*/
    -moz-transform: scale(var(--scel));
    -ms-transform: scale(var(--scel));
    -o-transform: scale(var(--scel));
}
#home{

   
    position:relative;
    transition: .5s ease;
    top: 0px;

    cursor: pointer;
    border: 1px solid #ff7300;
    background-color: white;
    height: 50px;
    width: 100px;
    color: #ff7300;
    font-family: Verdana,Geneva,sans-serif; 
    font-size: 14px;
    


    
    position:relative;
    transition: .5s ease;
    top: 0px;
    left: 1100px;
    

}
#home:hover{
    -webkit-transform: scale(var(--scel));/*Grows in size like Angry Birds button*/
    -moz-transform: scale(var(--scel));
    -ms-transform: scale(var(--scel));
    -o-transform: scale(var(--scel));
}

#contacts{

    font-family: Verdana,Geneva,sans-serif; 
    position:relative;
    transition: .5s ease;
    top: 0px;

    cursor: pointer;
    border: 1px solid #ff7300;
    background-color: white;
    height: 50px;
    width: 100px;
    color: #ff7300;
    font-family: Verdana,Geneva,sans-serif; 
    font-size: 14px;
   


    
    position:relative;
    transition: .5s ease;
    top: 0px;
    left: 1400px;
    

}
#contacts:hover{
    -webkit-transform: scale(var(--scel));/*Grows in size like Angry Birds button*/
    -moz-transform: scale(var(--scel));
    -ms-transform: scale(var(--scel));
    -o-transform: scale(var(--scel));
}
#logo{
    transform: scale(0.13);
    position: absolute;
    bottom: 73.7%;
    right: 62%;
}
#wot{
    position: absolute;
    
}#wut{
    position: absolute;
    
}
#wip{
    position: absolute;
    
}
body{
    background-color: rgb(203, 255, 238);
    margin: 0; /* Most important shit of all */
}head{
    background-color: orange;
}