
@font-face {
    font-family: 'made_soulmazeregular';
    src: url('fonts/made_soulmaze_personal_use-webfont.woff2') format('woff2'),
         url('fonts/made_soulmaze_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root{
    --scel: 1.1;
}
#hey{
    color: rgb(81, 255, 0);
}
#about{
    
    
    cursor: pointer;
    border: 1px solid #ff7300;
    background-color: white;
    height: 50px;
    width: 100px;
    color: #ff7300;
    font-family: 'made_soulmazeregular';
    font-size: 14px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);


    
    position:relative;
    transition: .5s ease;
    top: 50px;
    left: 1300px;
    
    
    
}
#about:hover{
    -webkit-transform: scale(var(--scel));/*Grows in size like Angry Birds button*/
    -moz-transform: scale(var(--scel));
    -ms-transform: scale(var(--scel));
    -o-transform: scale(var(--scel));
}
#home{

    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    position:relative;
    transition: .5s ease;
    top: 0px;

    cursor: pointer;
    border: 1px solid #ff7300;
    background-color: white;
    height: 50px;
    width: 100px;
    color: #ff7300;
    font-family: 'made_soulmazeregular';
    font-size: 14px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);


    
    position:relative;
    transition: .5s ease;
    top: 50px;
    left: 1100px;
    

}
#home:hover{
    -webkit-transform: scale(var(--scel));/*Grows in size like Angry Birds button*/
    -moz-transform: scale(var(--scel));
    -ms-transform: scale(var(--scel));
    -o-transform: scale(var(--scel));
}

#contacts{

    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    position:relative;
    transition: .5s ease;
    top: 0px;

    cursor: pointer;
    border: 1px solid #ff7300;
    background-color: white;
    height: 50px;
    width: 100px;
    color: #ff7300;
    font-family: 'made_soulmazeregular';
    font-size: 14px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);


    
    position:relative;
    transition: .5s ease;
    top: 50px;
    left: 1400px;
    

}
#contacts:hover{
    -webkit-transform: scale(var(--scel));/*Grows in size like Angry Birds button*/
    -moz-transform: scale(var(--scel));
    -ms-transform: scale(var(--scel));
    -o-transform: scale(var(--scel));
}
#wot{
    position: absolute;
}
body{
    background-color: rgb(203, 255, 238);
}