
@font-face {
    font-family: 'soraregular';
    src: url('fonts/sora-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/sora-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
}

:root{
    --scel: 1.1;
}
#hey{
    color: rgb(81, 255, 0);
}
#bar{
    background-color: orange;
    height: 50px;
    width: 100%;
    position: relative;
   
}
#about{
    
    
    cursor: pointer;
    border: 1px solid #ff7300;
    background-color: transparent;
    height: 50px;
    width: 100px;
    color: #ff7300;
<<<<<<< HEAD
    font-family: 'soraregular';
=======
    font-family: Verdana,Geneva,sans-serif; 
>>>>>>> 507b539334539a2f2acc2f710270a7f89d7f9e24
    font-size: 14px;
   

    
    position:relative;
    transition: .5s ease;
    top: 0px;
<<<<<<< HEAD
    left: 1450px;
=======
    left: 1300px;
>>>>>>> 507b539334539a2f2acc2f710270a7f89d7f9e24
    
    
    
}
#about:hover{
    -webkit-transform: scale(var(--scel));/*Grows in size like Angry Birds button*/
    -moz-transform: scale(var(--scel));
    -ms-transform: scale(var(--scel));
    -o-transform: scale(var(--scel));
}
#home{

   
    position:relative;
    transition: .5s ease;
    top: 0px;

    cursor: pointer;
    border: 1px solid #ff7300;
    background-color: transparent;
    height: 50px;
    width: 100px;
    color: #ff7300;
<<<<<<< HEAD
    font-family: 'soraregular';
=======
    font-family: Verdana,Geneva,sans-serif; 
>>>>>>> 507b539334539a2f2acc2f710270a7f89d7f9e24
    font-size: 14px;
    


    
    position:relative;
    transition: .5s ease;
    top: 0px;
<<<<<<< HEAD
    left: 1300px;
=======
    left: 1100px;
>>>>>>> 507b539334539a2f2acc2f710270a7f89d7f9e24
    

}
#home:hover{
    -webkit-transform: scale(var(--scel));/*Grows in size like Angry Birds button*/
    -moz-transform: scale(var(--scel));
    -ms-transform: scale(var(--scel));
    -o-transform: scale(var(--scel));
}

#contacts{

    font-family: Verdana,Geneva,sans-serif; 
    position:relative;
    transition: .5s ease;
    top: 0px;

    cursor: pointer;
    border: 1px solid #ff7300;
    background-color: transparent;
    height: 50px;
    width: 100px;
    color: #ff7300;
<<<<<<< HEAD
    font-family: 'soraregular';
=======
    font-family: Verdana,Geneva,sans-serif; 
>>>>>>> 507b539334539a2f2acc2f710270a7f89d7f9e24
    font-size: 14px;
   


    
    position:relative;
    transition: .5s ease;
    top: 0px;
<<<<<<< HEAD
    left: 15px;
=======
    left: 1400px;
>>>>>>> 507b539334539a2f2acc2f710270a7f89d7f9e24
    

}
#contacts:hover{
    -webkit-transform: scale(var(--scel));/*Grows in size like Angry Birds button*/
    -moz-transform: scale(var(--scel));
    -ms-transform: scale(var(--scel));
    -o-transform: scale(var(--scel));
}
#logo{
    transform: scale(0.13);
    position: absolute;
    bottom: 73.7%;
    right: 62%;
}
#wot{
    position: absolute;
<<<<<<< HEAD
=======
    
}#wut{
    position: absolute;
    
}
#wip{
    position: absolute;
    
}
body{
    background-color: rgb(104, 103, 114);
    margin: 0; /* Most important shit of all */
}head{
    background-color: orange;
>>>>>>> 507b539334539a2f2acc2f710270a7f89d7f9e24
}